{% extends 'base.html' %}

{% block page_stylesheets %}
#show-username-modal {
  display: none;
}
{% endblock page_stylesheets %}

{% block title %}Chat Rooms{% endblock title %}

{% block container_content %}
What chat room would you like to enter?<br>
<input id="room-name-input" type="text" size="100"><br>
<input id="room-name-submit" type="button" value="Enter">
{% endblock container_content %}

{% block page_javascript %}
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock page_javascript %}
