<div class="modal fade" id="nameChangeModal" tabindex="-1" role="dialog" aria-labelledby="nameChangeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nameChangeModalLabel">Change Username</h5>
      </div>
      <div class="modal-body">
        <input type="text" id="new-username-input" value="{{user.username}}">
      </div>
      <div class="modal-footer">
        <button id="close-username-modal"type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="new-username-submit" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>